<section class="login-register" xmlns:v-on="http://www.w3.org/1999/xhtml">

  <div class="NotLogged" v-show="!this.props_BlIsloggedIn">

    <div class="panellogin" v-show=bllogin>
      <h1>Login</h1>
      <label for="uname"><b>email</b></label>
      <input type="text" placeholder="Enter Email" name="uname" required v-model="lemail">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required v-model="lpsw">

      <button type="submit" v-on:click="btnaceptarlogin">Login</button>
      <button  type="submit" v-on:click="btnRegistrar1">registrar</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="panellogin" v-show=!bllogin>
      <h1>Register</h1>
      <label for="nick"><b>Nick</b></label>
      <input type="text" placeholder="Enter Nick" name="Nick" v-model="rnick" required>
      <br>
      <br>
      <label for="FDN"><b>Fecha De Nacimiento</b></label>
      <input type="date" placeholder="Enter Data of Birth" name="FDN" v-model="rfdn" required>
      <br>
      <br>
      <label for="nombre"><b>Nombre</b></label>
      <input type="text" placeholder="Enter name" name="nombre" v-model="rnombre" required>

      <label for="email"><b>email</b></label>
      <input type="text" placeholder="Enter email" name="email" v-model="remail" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" v-model="rpsw" required>

      <label for="psw"><b>Confirmar Password</b></label>
      <input type="password" placeholder="Enter Password" name="cpsw" required>

      <button type="submit" v-on:click="btnaceptarregistro">registrar</button>
      <button type="submit"  v-on:click="btncancelar">cancelar</button>
    </div>

  </div>

  <div class="Logged" v-show="this.props_BlIsloggedIn">
    <ul>
      <li><button type="submit">Home</button></li>
      <li><button type="submit">Añadir</button></li>
      <li><button type="submit">Ajustes</button></li>
      <li style="float:right"><button type="submit"  v-on:click="Logout">Logout</button></li>
    </ul>


  </div>


</section>



