.principal {
  background-image: url("https://i.pinimg.com/originals/5e/67/ce/5e67ce5ddb7ff31753a4e11830258eae.jpg");

.lr{

   position: absolute;
   top: 10%;
   left: 35%;
   right: 35%;
   width: 30%;
   height: 30%;
 }

  .Perfiles{

    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 30%;
  }
}
