.principal {


.lr{

   position: absolute;
   top: 25%;
   left: 35%;
   right: 35%;
   width: 30%;
   height: 30%;
 }

  .Perfiles{

    position: absolute;
    top: 35%;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 30%;
  }
}
