
<section class="perfiles">

  <div class="Coche" v-for="ch in Perfiles ">
    <div class="tarjetaReview">
      <h2 class="nombre">{{ch.nombre}}</h2>
      <img class="foto" :src="ch.foto" alt="noLogoAviable">
      <div class="info">
        <h4 class="marca">{{ch.marca}}</h4>
        <h4 class="modelo">{{ch.modelo}}</h4>
        <h4 class="categoria">{{ch.categoria}}</h4>
        <h4 class="precio">{{ch.precio}}</h4>
      </div>
      <p class="review">{{ch.review}}</p>
    </div>
  </div>
</section>

